{
  "extends": "nightmare-mode/node",
  "rules": {
    "no-console": 0,
    "prefer-arrow-callback": 0,
    "prefer-reflect": 0,
    "prefer-template": 0,
    "no-restricted-syntax": [2, "WithStatement"],
    "no-empty-label": 0,
    "no-labels": 2,
    "space-after-keywords": 0,
    "space-before-keywords": 0,
    "space-return-throw-case": 0,
    "keyword-spacing": 2
  }
}
